<!DOCTYPE html>
<html lang="en" ng-app="tamt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="proculture-verification" content="8e6cf1ad596e7f57198299e09117daf5" />
    <base href="/">
    <!--<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">-->
    <!--<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">-->
    <!--<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">-->
    <!--<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">-->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">-->
    <!--<link rel="manifest" href="/images/favicon/manifest.json">-->
    <!--<meta name="msapplication-TileColor" content="#ffffff">-->
    <!--<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">-->
    <!--<meta name="theme-color" content="#ffffff">-->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>ТаКТ</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">-->
    <!--<link rel="stylesheet" href="/bower_components/flexslider/flexslider.css">-->
    <link rel="stylesheet" href="/bower_components/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
    <link rel="stylesheet" href="/build/css/style.min.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--<script type="text/javascript" src="/bower_components/flexslider/jquery.flexslider-min.js"></script>-->
    <script type="text/javascript" src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/bower_components/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/bower_components/angular-flexslider/angular-flexslider.js"></script>-->
    <script type="text/javascript" src="/bower_components/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>

    <script type="text/javascript" src="javascripts/controllers/config.js"></script>
    <script type="text/javascript" src="javascripts/services/config.js"></script>
    <script type="text/javascript" src="javascripts/directives/config.js"></script>

    <!--<script type="text/javascript" src="javascripts/controllers/home.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/about.js"></script>-->
    <!--&lt;!&ndash;<script type="text/javascript" src="javascripts/controllers/novel.js"></script>&ndash;&gt;-->
    <!--<script type="text/javascript" src="javascripts/controllers/plays.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/gallery.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/gallery-play.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/gallery-video.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/contacts.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/news.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/people.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/plays-children.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/controllers/header.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/services/service.js"></script>-->
    <!--<script type="text/javascript" src="javascripts/directives/directives.js"></script>-->
    <script type="text/javascript" src="/build/min/app.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/config.js"></script>
    <script src="https://kassa.yandex.ru/checkout-ui/v2.js"></script>
    <script type='text/javascript'>var qt_params = {color:'ffaa00',align:'left',top:100,width:28,radius:2,alias:'taganrog-kamernyj-teatr',image:'buy-online.png'};(function(){var s =document.createElement('script'); s.type = 'text/javascript';s.async = true; s.src = '//quicktickets.ru/script/button.js?'+Math.random(); var ss =document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);})();</script>
    <script async src="https://culturaltracking.ru/static/js/spxl.js?pixelId=19158" data-pixel-id="19158"></script>
</head>
<body class="all-page">
<header class="header" ng-controller="headerCtrl as tamt">
    <div class="cookie_notice">
        Во время посещения сайта ТаКТ вы соглашаетесь с тем, что мы
        обрабатываем ваши персональные данные с использованием метрических программ.
        <div>
            <div class="cookie_btn" id="cookie_close">Понятно, спасибо</div>
        </div>
    </div>
    <h1 class="main-title">
        <div class="left-main-logo">
            <img src="../images/favicon/android-chrome-192x192.png" class="label-img">
        </div>
        <div class="theatre-name"><span class="red-color">Та</span>ганрогский <span class="red-color">к</span>амерный <span class="red-color">т</span>еатр</div>
        <div class="right-main-logo">
            <span>26<span class="small-size">й</span></span>
            <span class="white">театральный</span>
            <span class="white">сезон</span>
        </div>
    </h1>
    <nav class="navbar navbar-default menu" role="navigation">
        <div class="container-fluid">
            <div class="all-width main-menu">
                <div class="main-menu-item"><a class="menu-a" href="/home" id="home" >главная</a></div>
                <div class="dropdown main-menu-item"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="about">о театре <span class="caret"></span></a>
                    <ul class="dropdown-menu menu main-shadow-menu" role="menu">
                        <li><a class="menu-a" href="/news" >пресса о театре</a></li>
                        <li><a class="menu-a" href="/about" >история театра</a></li>
                        <li><a class="menu-a" href="/festival" >фестивали</a></li>
                    </ul>
                </div>
                <div class="dropdown main-menu-item"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="plays">спектакли <span class="caret"></span></a>
                    <ul class="dropdown-menu menu main-shadow-menu" role="menu">
                        <li><a class="menu-a" href="/plays">для больших зрителей</a></li>
                        <li><a class="menu-a" href="/plays-children">для маленьких зрителей</a></li>
                        <li><a class="menu-a" href="/plays-old">спектакли на пенсии</a></li>
                    </ul>
                </div>
                <div class="dropdown main-menu-item"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="gallery">галерея <span class="caret"></span></a>
                    <ul class="dropdown-menu menu main-shadow-menu" role="menu">
                        <li><a class="menu-a" href="/gallery-photo">взрослые спектакли</a></li>
                        <li><a class="menu-a" href="/gallery-photo-children">детские спектакли</a></li>
                        <li><a class="menu-a" href="/gallery-photo-old">спектакли на пенсии</a></li>
                        <li><a class="menu-a" href="/gallery-paper">газета</a></li>
                        <li><a class="menu-a" href="/gallery-photo-events">мероприятия</a></li>
                        <li><a class="menu-a" href="/gallery/20">лаборатория</a></li>
                        <li><a class="menu-a" href="/gallery-films">актеры в кино</a></li>
                    </ul>
                </div>
                <div class="main-menu-item"><a class="menu-a" href="/people" id="people">люди театра</a></div>
                <div class="main-menu-item"><a class="menu-a" href="/contacts" id="contacts">контакты</a></div>
                <div class="main-menu-item"><a class="menu-a" href="/donation" id="donation">помочь театру</a></div>
                <div class="main-menu-item">
                    <a class="menu-a buy-btn" href="https://quicktickets.ru/taganrog-kamernyj-teatr" target="_blank" id="buy">Купить билеты</a>
                    <!--<script src="https://radario.ru/scripts/widget/buy-button-widget.js"-->
                            <!--data-class="radarioButtonScript"-->
                            <!--data-radario-widget-key="01941687111219ab1150bcc0632a10df100dc50f9aef6"-->
                            <!--data-type="afisha" data-accent-color="#ff0000" data-page-background-color="#fff"-->
                            <!--data-button-border-radius="3px" data-button-padding="6px 12px"-->
                            <!--data-custom-color="#000" data-custom-text-color="#ff0000"-->
                            <!--data-custom-name="Купить билеты"></script>-->
                </div>
            </div>
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed black-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar red-line"></span>-->
                    <!--<span class="icon-bar red-line"></span>-->
                    <!--<span class="icon-bar red-line"></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                    <!--<ul class="nav navbar-nav all-width">-->
                        <!--<li class="border-right"><a class="menu-a" href="/home" id="home" >главная</a></li>-->
                        <!--<li class="dropdown border-right"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="about">о театре</a>-->
                            <!--<ul class="dropdown-menu menu min-wid" role="menu">-->
                                <!--<li><a class="menu-a" href="/news" >пресса о театре</a></li>-->
                                <!--<li><a class="menu-a" href="/about" >история театра</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown border-right"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="plays">спектакли</a>-->
                            <!--<ul class="dropdown-menu menu min-wid" role="menu">-->
                                <!--<li><a class="menu-a" href="/plays">для больших зрителей</a></li>-->
                                <!--<li><a class="menu-a" href="/plays-children">для маленьких зрителей</a></li>-->
                                <!--<li><a class="menu-a" href="/plays-old">спектакли на пенсии</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown border-right"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="gallery">галерея</a>-->
                            <!--<ul class="dropdown-menu menu min-wid" role="menu">-->
                                <!--<li><a class="menu-a" href="/gallery-photo">взрослые спектакли</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery-photo-children">детские спектакли</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery-photo-old">спектакли на пенсии</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery-paper">газета</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery-photo-events">мероприятия</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery/20">лаборатория</a></li>-->
                                <!--<li><a class="menu-a" href="/gallery-films">актеры в кино</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash;<li class="border-right"><a class="menu-a" href="/gallery-photo" id="contacts">галерея</a></li>&ndash;&gt;-->

                        <!--&lt;!&ndash;<li class="dropdown border-right"><a class="dropdown-toggle menu-a" data-toggle="dropdown" id="gallery">галерея</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="dropdown-menu menu min-wid" role="menu">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a class="menu-a" href="/gallery-photo" >фото</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a class="menu-a" href="/gallery-video" >видео</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--<li class="border-right before-buy-btn"><a class="menu-a" href="/people" id="people">люди театра</a></li>-->
                        <!--<li class="border-right"><a class="menu-a" href="/contacts" id="contacts">контакты</a></li>-->
                        <!--<li class="border-right-none small-view-buy-btn">-->
                            <!--<script src="https://radario.ru/scripts/widget/buy-button-widget.js"-->
                                    <!--data-class="radarioButtonScript"-->
                                    <!--data-radario-widget-key="01941687111219ab1150bcc0632a10df100dc50f9aef6"-->
                                    <!--data-type="afisha" data-accent-color="#ff0000" data-page-background-color="#fff"-->
                                    <!--data-button-border-radius="3px" data-button-padding="6px 12px"-->
                                    <!--data-button-text-size="14px" data-custom-color="#000" data-custom-text-color="#ff0000"-->
                                    <!--data-custom-name="Купить билеты"></script>-->
                            <!--&lt;!&ndash;<button type="button" class="btn " id="buy-button"> КУПИТЬ БИЛЕТЫ </button>&ndash;&gt;-->
                        <!--</li>-->
                    <!--</ul>-->
            <!--</div>-->
        </div>
    </nav>
</header>
<div ui-view></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class='col-md-6'><span class="red-color">Наш телефон:</span> +7 (8634) 38-33-61</div>
            <div class='col-md-6 text-left big-view-right'><span class="red-color">Наш адрес:</span> г. Таганрог, ул. Петровская 89, 347900 Ростовская обл.</div>
        </div>
        <div class="row social-block text-center">
            <div class='col-xs-12'>
                <a target="_blank" href="https://vk.com/tagteatr"><i class="fa fa-vk fa-3x social-ico-img" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.facebook.com/tagteatr/"><i class="fa fa-facebook fa-3x social-ico-img" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.instagram.com/tagteatr/"><i class="fa fa-instagram fa-3x social-ico-img" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCo3Rlc44PH4XGDP4R8ZHuKg"><i class="fa fa-youtube fa-3x social-ico-img" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
