@font-face {
    font-family: Muller;
    src: url(../fonts/MullerRegular.otf);
}
body{
    font-family: Muller;
}

.all-page{
    height: 100%;
    width: 100%;
    background: #000000;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 500px;
}
.header{
    width: 100%;
}
.footer{
    width: 100%;
    color: white;
    margin: 30px 0 20px 0;
}
.main-title{
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-title{
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 50px;
}
.about-title{
    color: #ffffff;
    /*text-transform: lowercase;*/
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    padding-bottom: 20px;
    margin-left: 10px;
}
.play-title{
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    padding-bottom: 20px;
    margin-left: 10px;
}
.festival-title{
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    padding-bottom: 20px;
    margin-left: 10px;
    padding-right: 35px;
}
.title{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    padding-bottom: 15px;
    /*line-height: 20px;*/
}
.red-color{
    color: red;
}
.menu{
    background: black!important;
    border: none!important;
    width: 95%;
    margin: 0 auto!important;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-menu-item {
    padding: 0 25px;
    min-width: 155px;
}
.main-shadow-menu{
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}
.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.all-width{
    width: 100%;
}

.left-main-logo{
    flex: 1;
}
.theatre-name{
    flex: 3;
}

.right-main-logo{
    text-align: center;
    font-size: 14px;
    color: red;
    width: 100px;
    margin: 10px auto;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.novel-title{
    background: black;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 39px;
    text-align: center;
    margin-left: -15px;
    padding: 7px 15px;
}

.embedly-card{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 5px 10px;
}
.embedly-card iframe{
    box-shadow: none;
}
.embedly-card-hug {
    height: 463px;
    overflow: hidden;
}

.festival_block{
    max-height: 450px;
    min-height: 450px;
}

@media (max-width: 400px) {
    .main-title{
        font-size: 35px;
    }
    .slide-all{
        height: 300px;
    }
    .reg-block{
        width: 80%;
    }
    .log-form, .reg-form{
        padding: 5px;
    }
    .recovery{
        text-align: center;
    }
    .text-form{
        width: 85%;
    }
    .position-img{
        width: 100%;
    }
    .embedly-card-hug {
        height: auto;
    }
    .novel-form{
        width: 90%!important;
    }
    .edit-icon{
        padding: 5px;
    }
    .novel-title {
        font-size: 10px;
    }
    .festival_block{
        max-height: auto;
        min-height: 250px;
        height: auto;
    }
}
@media (min-width: 400px) {
    .text-form{
        width: 85%;
    }
    .edit-icon{
        padding: 10px;
    }
    .novel-form{
        width: 80%!important;
    }
    .position-img{
        width: 50%;
    }
    .main-title{
        font-size: 45px;
    }
    .slide-all{
        height: 450px;
    }
    .reg-block{
        width: 70%;
    }
    .log-form, .reg-form{
        padding: 15px;
    }
    .recovery{
        text-align: center;
    }
    .novel-title {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .novel-form{
        width: 70%!important;
    }
    .position-img{
        width: 25%;
    }
    .text-form{
        width: 70%;
    }
    .slide-all{
        height: 750px;
    }
    .reg-block{
        width: 60%;
    }
    .recovery{
        text-align: right;
    }
    .novel-title {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .big-marg{
        margin-top: 100px;
    }
    .big-view-right{
        text-align: right!important;
    }
    .novel-title {
        font-size: 20px;
    }
    .buy-btn{
        font-size: 16px!important;
    }
}
@media (max-width: 1091px) {
    .small-view-buy-btn{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
}


@media (max-width: 767px) {
    /*.border-right{*/
        /*width: 100%;*/
        /*border-right: none;*/
        /*text-align: center;*/
    /*}*/
    .main-title{
        display: block;
    }
    .right-main-logo{
        display: inline;
    }
}
.menu-a{
    color: red!important;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0!important;
    line-height: 35px;
    text-align: center;
    white-space: normal!important;
}
.menu-a:hover{
    color: #ffffff!important;
    text-decoration: none;
}
.active{
    color: #ffffff!important;
}
.min-wid{
    min-width: 100px!important;
    width: 100%;
}
.open>a, .open>a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background: black!important;
}
.black-btn{
    background: #000000!important;
}
.red-line{
    background: red!important;
}
.text-form{
    /*width: 70%;*/
    margin: auto;
    height: 100%;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 45px;
    overflow: hidden;
}
.play-block{
    border-bottom: 2px solid;
    padding: 15px;
}
.play-block:last-child{
    border-bottom: none;
}
.novel-form{
    /*width: 70%!important;*/
    margin: 45px auto 0 auto;
    height: 100%;
    background: #ffffff;
    padding: 10px 5px;
}
/*.slider{*/
     /*margin: 45px auto 0 auto;*/
 /*}*/
.text-about{
    color: white;
    font-size: 18px;
    text-align: justify;
    padding: 30px;
}
.about-img{
    width: 100%;
    height: 400px;
    border: 1px solid black;
}
.red-btn{
    background: rgba(196, 49, 0, 1);
    border: 1px solid black;
    font-size: 18px!important;
    float: right;
    color: #ffffff!important;
    margin: 10px 0 15px 0!important;
}
.novel-img{
    width: 100%;
    border: 1px solid black;
}
.width100{
    width: 100%;
    padding: 20px;
}
.w100{
    width: 100%;
}
.position-img{
    padding: 0 5px;
    float: left;
}
.display-img{
    display: flex;
    padding: 20px 0;
}
.under-img{
    padding: 10px 0;
    color: white;
    font-size: 16px;
}
.before-novel-title{
    margin-top: 10px;
}
.custom-breadcrumb-link:hover{
    text-decoration: none;
}
.novel-title.active{
    color: white;
}
.padding-novel{
    padding: 15px 10px;
}
.pay-btn{
    background: rgba(196, 49, 0, 1);
    border: 1px solid black;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    color: black;
    float: right;
    margin: 5px 10px;
}
.gallary-img{
    height: 250px;
    cursor: pointer;
    width: 100%;
    object-fit: scale-down;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.paper-img{
    height: 350px;
    cursor: pointer;
    width: 100%;
    background-size: cover!important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.article-img{
    height: 500px;
    cursor: pointer;
    width: 100%;
    background-size: contain!important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.gallery-pad{
    padding: 10px;
}
.min-height{
    height: 310px;
}
.contact{
    padding-left: 10px;
    border: none;
    line-height: 30px;
    background: #000000;
    width: 100%;
    color: white;
}
.edit{
    padding-left: 10px;
    border: none;
    line-height: 30px;
    background: #ffffff;
    width: 100%;
    color: #000000;
    font-weight: bold;
}
.contact-big{
    padding-left: 10px;
    border: none;
    height: 100px;
    background: #000000;
    width: 100%;
    color: #ffffff;
}
.address{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.input-padding{
    padding-bottom: 5px;
}
.reg-text-hi{
    color: white;
    padding-right: 7px;
}
.reg-block{
    margin: auto;
    height: 100%;
}
.reg-form{
    background: white;
    border: 5px solid red;
    border-radius: 10px;
    padding-top: 55px;
    overflow: auto;
}
.log-form{
    background: white;
    border: 5px solid red;
    border-radius: 10px;
    padding-top: 55px;
    overflow: auto;
}
.text16{
    font-size: 16px;
}
.reg-input{
    width: 100%;
    border: 1px solid black;
    padding-left: 10px;
    box-shadow: red;
    border-radius: 5px;
}
.right{
    text-align: right;
}
.reg-pad{
    padding-bottom: 40px;
}
.new-display{
    display: inline-flex;
}
.check-box{
    width: 25px;
}
.pad-left{
    padding-left: 10px;
}
.pad-left2{
    padding-left: 20px;
}
.reg-btn{
    background: red;
    font-weight: bold!important;
    color: white!important;
    text-transform: uppercase;
    margin-top: 10px;
}
.edit-btn{
    background: red;
    font-weight: bold!important;
    color: white!important;
    text-transform: uppercase;
}
.back-btn{
    background: #ffffff;
    font-weight: bold!important;
    color: #000000!important;
    text-transform: uppercase;
}
.cancel{
    background: white;
    color: black;
    border: 3px solid red!important;
    font-weight: bold!important;
    text-transform: uppercase;
    margin-top: 10px;
}
.error{
    color: #ff0000
}
.slide-all{
    width: 100%;
    background-size: contain;
}
.flex-prev{
    display: none!important;
}
.flex-next{
    display: none!important;
}
.flex-control-nav li a{
    background: #ffffff!important;
}
.flex-control-nav li a.flex-active{
    background: red!important;
}
.flex-control-paging li a{
    height: 15px!important;
    width: 15px!important;
}
.flex-control-nav{
    z-index: 10;
    bottom: 25px!important;
}
/*.flexslider{*/
    /*border: none!important;*/
/*}*/
.profile-img{
    max-height: 300px;
    max-width: 100%;
}
.input-upload{
    position: absolute;
    top: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
}
.redtext{
    color: red!important;
    text-decoration: none!important;
    cursor: pointer;
}
.profile-place{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: black;
}
.blackline{
    line-height: 50px;
    margin-right: -15px;
    margin-left: -15px;
    height: 50px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid;
}
.marg-bot{
    margin-bottom: 0;
}
.recovery{
    color: red!important;
    text-decoration: none!important;
    line-height: 40px;
    cursor: pointer;
}
.all-modal{
    margin: 0;
    padding-bottom: 10px;
    border: red!important;
}
.modal-header{
    background: red!important;
    border-color: red!important;
}
.about-img-back{
    height: 400px;
    background-size: cover!important;
    border: 2px solid;
}
.marg-top{
    margin-top: 50px;
}
.font18{
    font-size: 18px;
}
.big-pad-bot{
    padding-bottom: 25px;
}
.overflow{
    overflow: hidden;
}
.gallery-title{
    margin-left: -15px;
    padding: 0 15px;
}
.pad-top{
    padding-top: 20px;
}
.play-name{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}
.nopad{
    padding: 0!important;
}
.cut-text{
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
}
.nameborder{
    line-height: 50px;
}
.nopad-bot{
    padding-bottom: 0!important;
}
.edit-icon{
    /*padding: 10px;*/
    color: white;
}
.social-ico-img {
    color: white;
    padding: 10px;
}

.social-ico-img:hover {
    color: red;
}
.social-block{
    padding: 10px;

}

#buy-button{
    color: red;
    background: black;
    border-color: red;
    border-width: 2px;
    padding: 3px 8px;
    outline: none;
}
#buy-button:hover{
    color: white;
}

.main-btn {
    color: white;
    border-color: red;
    border-width: 2px;
    padding: 3px 8px;
    outline: 0;
    min-width: 20%;
    background: red;
    border-radius: 5px;
    margin: 0 6%;
}
.main-btn.active-tab {
    color: white;
    background: black;
    border-color: black;
}

.home-slides{
    background-color: black;
    background-size: contain;
    background-position: 50%;
    /*background-size: cover;*/
    /*background-position: 100%;*/
    background-repeat: no-repeat no-repeat;
}

.featherlight-image {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 80vh;
}
.frame-article{

}

.nav-item a.nav-link {
    color: black;
    background: white;
    border: 1px solid red!important;
    cursor: pointer;
}
.nav-item a.nav-link:focus, .nav-item a.nav-link:hover {
    color: white;
    background: red;
    border: 1px solid red!important;
    cursor: pointer;
}
.nav-item a.nav-link.active-tab, .nav-item a.nav-link.active-tab:focus, .nav-item a.nav-link.active-tab:hover{
    color: red;
    background: black;
    border: 1px solid red;
}

.featherlight .featherlight-close-icon{
    font-size: 20px;
    font-weight: bold;
}
.label-img{
    width: 60px;
}
.names {
    color: white;
    height: 45px;
}
.names:hover {
    color: red;
    cursor: pointer;
}
/*.lb-data .lb-close {*/
    /*position: absolute;*/
    /*top: -35px;*/
    /*margin-left: -9px;*/
/*}*/

.navbar-toggle {
    float: left;
}
.main-img{
    max-width: 600px;
    max-height: 800px;
    margin-bottom: 20px;
}
.festival-image-block{
    display: flex;
    justify-content: center;
}
.festival-image{
    max-height: 500px;
    max-width: 100%;
}
.main-img-updated{
    max-height: 700px;
}
.float-right{
    float: right;
}
.pointer {
    cursor: pointer;
}
.carousel-arrow-left{
    position: absolute;
    left: 0;
    top: 50%;
}
.carousel-arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
}
.white{
    color: white;
    text-transform: lowercase;
}
.small-size{
    font-size: 10px;
}
.gallery-paper{
    height: 395px;
}
.shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.donation-body p{
    color: white;
}
.common-text{
    font-size: 20px;
    color: white;
    /*padding: 10% 0;*/
}
.payment-form{
    font-size: 16px;
    /*color: white;*/
}
.payment-input{
    width: 100%;
    /*border: none;*/
    outline: none;
    min-height: 30px;
    /*color: red;*/
    padding: 2px 5px;
    border: 1px solid;
}
.payment-select{
    height: 30px;
    border-radius: 0!important;
}
.add-donation{
    width: 100%;
    background: red!important;
    color: white!important;
    outline: none!important;
}
.white-text{
    color: white!important;
}
.card-header{
    background: red;
}
.collapse-header{
    width: 100%;
    background: none;
    white-space: normal;
    color: white!important;
    outline: none!important;
}
.main-payment-info{
    background: white;
    margin-bottom: 20px;
}
.card-body{
    padding: 0 10px 5px;
    font-size: 16px;
}
.bold{
    font-weight: bold;
}
.instructions{
    padding: 10px 0;
}
.share-img{
    max-width: 100%;
    padding-top: 15px;
}
.red-text{
    color: red!important;
}
.donation-footer{
    margin-top: 10%;
}
.red-border{
    border-color: red;
}
.no-pad{
    padding: 0;
}
.no-pad-top{
    padding-top:0;
}
.close-icon{
    position: absolute;
    right: 10px;
    top: 30px;
}
.relative{
    position: relative;
}
.minh-65{
    min-height: 65px;
}

.red-back{
    background: red!important;
}

.black-back{
    background: black!important;
}

.collapse-control{
    display: block;
    padding: 10px 15px;
}

.festival-collapse .collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.festival-collapse .content {
    padding: 0 18px;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.cookie_notice {
    display: none;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    color: #FFF;
    background: red;
    padding: 10px 20px;
    border-top: 4px solid white;
}
/* Оформление кнопок */
.cookie_btn {
    display: inline-block;
    margin: 10px 6px 4px 6px;
    text-decoration: none;
    position: relative;
    font-size: 13px;
    padding: 4px 12px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    background: white;
    border: 2px solid white;
}
.cookie_btn:hover {
    cursor: pointer;
}