<div>
    <div class="text-form">
        <h2 class="about-title"> О <span class="red-color">т</span>е<span class="red-color">ат</span>ре </h2>
        <div class="text-about">
            <span class="pad-left2"></span>«Таганрогский камерный театр» для детей и молодежи  - авторский театр, созданный режиссером Нонной Малыгиной и группой актеров-единомышленников. Долгое время носил название Таганрогский Молодежный театр.
            <br>
            <span class="pad-left2"></span>«ТаКТ» - театр-поиск, театр-лаборатория, ищущий максимально яркую и выразительную форму выражения, но сохраняющий при этом лучшие традиции русского психологического театра – искренность, глубину проживания и актерскую ансамблевость. Каждая пьеса, взятая театром к постановке, проверяется на созвучность чувствам и мыслям современников, на соответствие сегодняшнему дню. Экспериментируя с игровым пространством, ТаКТ размывает границу между сценой и реальностью, творчески исследует жизнь человеческого духа, погружает зрителей в самую суть происходящих событий, побуждая осознавать проблемы и искать непростые решения самостоятельно.
            <br>
            <span class="pad-left2"></span>ТаКТ - участник и дипломант более 30 самых разных фестивалей: "Мельпомена", "Русская комедия", "Декада Донского театра", "Комплимент", "Волшебный мир сказки", "Театральная гавань" и т.д.
            <br>
            <span class="pad-left2"></span>На базе ТаКТ в 2018 году была проведена лаборатория по современной драматургии "Театра Наций" под руководством Е. Миронова.
            <br>
            <span class="pad-left2"></span>ТаКТ продолжает свое развитие: помимо премьер, и обширного детского репертуара, в театре проходят встречи и читки пьес с последующими обсуждениями, а также и образовательные инновационные проекты: «Литературные уроки», «Кофе с классиком», «Литературный пикник», «Сам себе театр», "День Т", "Звуки в тишине", "Театр в каждый двор". ТаКТ – первый театр в городе, который ввел практику сурдоперевода спектаклей для людей с ограниченными возможностями.
            <br>
            <span class="pad-left2"></span>При театре работает детская театральная школа  «Витамин» и Молодежная студия, которые занимаются развитием детей и молодежи средствами театра.
            <br>
            <span class="pad-left2"></span>Актеры театра снимаются в кинофильмах, сериалах и телевизионных передачах.
            <br>
            <span class="pad-left2"></span>Наши сердца бьются в ТаКТ. Таганрогский Камерный театр.
        </div>
        <div class="col-md-12">
            <div class="position-img" ng-repeat="play in ::tamt.aboutList track by $index">
                <div class="">
                    <div style="background: url({{::play.img}}) no-repeat 50% 50%" class="about-img-back"></div>
                    <p class="under-img text-center"> "{{::play.name}}"</p>
                </div>
            </div>
        </div>
    </div>
</div>