<div class="container novel-form">
    <div class="before-novel-title"><span class="novel-title">контакты</span></div>
    <div class="col-md-12 padding-novel marg-top">
        <div class="row">
            <div class="col-md-3 big-pad-bot">
                <form class="address">
                    <p class="text16">
                        347900 Ростовская обл. <br>
                        г. Таганрог, ул. Петровская 89
                    </p>
                    <br>
                    <p class="text16">
                        Тел.: +7 (904) 343-87-87, </br> +7 (8634) 38-33-61
                    </p>
                </form>
            </div>
            <div class="col-md-9">
                <form>
                    <div class="input-padding">
                        <input type="text" class="contact" ng-model="tamt.message.name" ng-click="tamt.nameErr = false" placeholder="Имя">
                        <span ng-show="tamt.nameErr" class="error">Введите имя</span>
                    </div>
                    <div class="input-padding">
                        <input type="email" class="contact" ng-model="tamt.message.email" ng-click="tamt.emailErr = false" placeholder="Email">
                        <span ng-show="tamt.emailErr" class="error">Введите email</span>
                    </div>
                    <div class="input-padding">
                        <input type="text" class="contact" ng-model="tamt.message.theme" placeholder="Тема">
                    </div>
                    <div class="input-padding">
                        <textarea class="contact-big" placeholder="Сообщение" ng-model="tamt.message.text" ng-click="tamt.messageErr = false"></textarea>
                        <span ng-show="tamt.messageErr" class="error">Введите сообщение</span>
                    </div>
                    <span class="error">{{tamt.statusSend}}</span>
                    <div class=" input-padding text-center" style="overflow: hidden">
                        <button class="btn red-btn" type="button" ng-click="tamt.sendMessage()">Отправить</button>
                    </div>
                    <div class=" input-padding text-center big-pad-bot" ng-show="tamt.waitingSend">
                        <img src="../images/tumblr_static_2z3hgkl3oskk8o0wwo00w08k4.gif" ><br>
                        <span>Подождите ...</span>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.9548362107707!2d38.925405999999995!3d47.217466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3fd46090475d9%3A0xfbace53aae7bfb0!2z0J_QtdGC0YDQvtCy0YHQutCw0Y8g0YPQuy4sIDg5LCDQotCw0LPQsNC90YDQvtCzLCDQoNC-0YHRgtC-0LLRgdC60LDRjyDQvtCx0LsuLCAzNDc5MDA!5e0!3m2!1sru!2sru!4v1429464656188" width="100%" height="300" frameborder="0" style="border:0"></iframe>
                </div>
            </div>

        </div>
    </div>

</div>