<div>
    <div class="text-form">
        <h2 class="about-title">
            Ч<span class="red-color">а</span>c<span class="red-color">т</span>ные пожер<span class="red-color">т</span>вов<span class="red-color">а</span>ния</h2>
        <div class="col-md-12">
            <div class="donation-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="common-text text-center">
                            <p class="padding-novel">
                                Дорогие зрители!
                            </p>
                            <p class="padding-novel">
                                Нам, команде <span class="red-color">Та</span>ганрогского <span class="red-color">К</span>амерного <span class="red-color">Т</span>еатра, ужасно жаль, что пока мы не можем
                                встретиться с вами и вновь пережить все драматические моменты судьбы героев наших
                                любимых спектаклей. Но мы не остановили работу театра.
                            </p>
                            <p class="padding-novel">
                                В эти непростые дни, многие зрители обратились к нам с предложение помощи театру.
                                Огромное спасибо!
                            </p>
                            <p class="padding-novel">
                                Мы очень рады вашему участию в судьбе ТаКТа, для всех желающих помочь, мы открываем
                                общественное финансирование театра.
                            </p>
                            <p class="padding-novel">
                                Будем благодарны за любую помощь.
                            </p>
                            <p class="padding-novel">
                                Очень любим вас. Скучаем. С нетерпением ждем встречи. Берегите себя, будьте здоровы.
                            </p>
                            <p class="padding-novel">
                                Да будет <span class="red-color">ТаКТ</span>! Наши сердца бьются в такт.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="accordion2" class="main-payment-info">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn collapse-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            С помощью Яндекс.Кассы <span class="caret"></span>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseTwo" class="collapse in" aria-labelledby="headingTwo" data-parent="#accordion2">
                                    <div class="card-body">
                                        <form class="payment-form">
                                            <div class="input-padding">
                                                <label for="fname">Фамилия Имя Отчество</label>
                                                <input type="text" id="fname" name="fname" ng-click="tamt.nameErr = false; tamt.yandexErr = false" class="payment-input" ng-model="tamt.userInfo.name">
                                                <span ng-show="tamt.nameErr" class="error">Введите ФИО</span>
                                            </div>
                                            <div class="input-padding">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" name="email" class="payment-input" ng-click="tamt.emailErr = false; tamt.yandexErr = false" ng-model="tamt.userInfo.email">
                                                <span ng-show="tamt.emailErr" class="error">Введите email</span>
                                            </div>
                                            <div class="input-padding">
                                                <label for="amount">Выберете сумму пожертвования</label>
                                                <select id="amount" name="amount" class="form-control payment-input payment-select" ng-model="tamt.amount">
                                                    <option value="500">500 рублей</option>
                                                    <option value="1000">1000 рублей</option>
                                                    <option value="1500">1500 рублей</option>
                                                    <option value="2000">2000 рублей</option>
                                                    <option value="2500">2500 рублей</option>
                                                    <option value="3000">3000 рублей</option>
                                                    <option value="0">Другая сумма</option>
                                                </select>
                                            </div>
                                            <div ng-show="tamt.amount&&tamt.amount==0" class="input-padding">
                                                <label for="count">Введите сумму</label>
                                                <input type="number" id="count" ng-click="tamt.amountErr = false; tamt.yandexErr = false" name="count" class="payment-input" ng-model="tamt.userInfo.amount">
                                                <span ng-show="tamt.amountErr" class="error">Введите сумму</span>
                                            </div>
                                            <div ng-show="tamt.yandexErr">
                                                <span class="error">Какие-то проблемы с Яндекс.Кассой. Попробуйте еще раз позже.</span>
                                            </div>
                                            <div class="input-padding pad-top">
                                                <button class="btn add-donation" type="button" ng-click="tamt.sendDonationRequest()">Внести пожертвование</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordion" class="main-payment-info">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn collapse-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            С помощью мобильного приложения «Сбербанк Онлайн» <span class="caret"></span>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="instructions">Вы можете оказать благотворительную помощь Таганрогскому Камерному Театру с помощью мобильного приложения <a class="red-text" href="https://www.sberbank.ru/ru/person/dist_services/inner_apps" target="_blank">«Сбербанк Онлайн»</a>:</div>
                                        <div class="bold instructions">1. Выберите раздел «Платежи» в мобильном приложении;</div>
                                        <div class="bold instructions">2. Используя кнопку «Оплата по QR или штрихкоду» отсканируйте данный штрих-код: <br>
                                            <a href="../images/share_image.png" download target="_blank">
                                                <img class="share-img" src="../images/share_image.png">
                                            </a>
                                        </div>
                                        <div class="bold instructions">3. Введите в поле назначение платежа - «Пожертвование на уставную деятельность АНО «ТаКТ», ФИО, номер паспорта (если потребуется).</div>
                                        <div class="bold instructions">4. Введите сумму перечисления и нажмите кнопку «Продолжить».</div>
                                        <div class="bold instructions">Для вашего удобства доступен сервис «автоплатеж», который вы можете подключить после
                                            совершения в приложении, нажав кнопку «подключить автоплатеж» и указав регулярность его
                                            списания (даут первого списания и сумму автоплатежа). Отключить «автоплатеж» вы можете в
                                            любой момент.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion3" class="main-payment-info">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn collapse-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            С помощью платежа по реквизитам на примере сервиса «Сбербанк Онлайн» <span class="caret"></span>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                                    <div class="card-body">
                                        <div class="bold instructions">1. Выберете пункт платеж по реквизитам.</div>
                                        <div class="bold instructions">2. Внесите данные:
                                            <div class="pad-left2"> Номер счёта: 40703810226140000034 </div>
                                            <div class="pad-left2"> ИНН: 6154154481 </div>
                                            <div class="pad-left2"> БИК: 046015207 </div>
                                            Нажмите «Оплатить»
                                        </div>
                                        <div class="bold instructions">3. Введите в поле назначение платежа - «Пожертвование на уставную деятельность АНО «ТаКТ», ФИО, номер паспорта (если потребуется).</div>
                                        <div class="bold instructions">4. Введите сумму перечисления и нажмите кнопку «Оплатить», затем «Подтвердить».</div>
                                        <hr class="red-border">
                                        <div class="bold instructions">
                                            <div class="text-center">Банковские реквизиты АНО ТаКТ Альфа-банк</div>
                                            <div class="pad-top">Номер счёта: 40703810226140000034</div>
                                            <div class="pad-top">Валюта: RUR</div>
                                            <div class="pad-top">Название: Автономная Некоммерческая Организация «Камерный театр «Таганрогский камерный театр»</div>
                                            <div class="pad-top">ИНН: 6154154481</div>
                                            <div class="pad-top">КПП: 615401001</div>
                                            <div class="pad-top">Банк: Филиал «Ростовский» АО «Альфа-Банк»</div>
                                            <div class="pad-top">БИК: 046015207</div>
                                            <div class="pad-top">Кор. счёт: 30101810500000000207</div>
                                            <div class="pad-top">Адрес получателя: переулок 20-й, д. 42А, Ростовская область, г. Таганрог</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="white-text text-center">
                            Совершая платеж, вы соглашаетесь с <a class="red-text" href="../docs/офета%20пожертвования%20такт.pdf" target="_blank">договором оферты</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="donation-footer text-center">
                <div class="white-text"><span class="red-color">Та</span>ганрогский <span class="red-color">К</span>амерный <span class="red-color">Т</span>еатр</div>

                <div class="white-text">
                    Автономная некоммерческая организация «Камерный театр «Таганрогский камерный театр»
                </div>
                <div class="white-text bold">АНО «ТаКТ»</div>
                <div class="white-text">Юр.адрес: 347930, Россия, Ростовская  обл., г. Таганрог, пер. 20-Й, Д 42А</div>
                <div class="white-text">ИНН6154154481 КПП615401001 ОГРН 1196196008315</div>
                <div class="white-text">тел.: 8 (904) 345-91-16 e-mail: <a class="red-text" href="mailto:info@tagteatr.ru">info@tagteatr.ru</a></div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title white-text" id="myModalLabel">Оплата</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div id="yandex-payment-form"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="tamt.sendThanks()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title white-text" id="myModalLabel2">Оплата</h4>
                        </div>
                        <div class="modal-body">
                            <h1 class="text-center">
                                Спасибо! Оплата прошла успешно!
                            </h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="tamt.sendThanks()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>