<div class="">
    <div class="text-form relative">
        <h2 class="festival-title"> {{::tamt.checkFestival.name}}</h2>
        <div ui-sref="festival" class="close-icon"><i class="fa fa-times fa-2x pointer" aria-hidden="true"></i></div>
        <div class="col-md-12 reg-pad">
            <a href="{{::tamt.checkFestival.img}}" data-lightbox="image-3" class="festival-image-block">
                <img ng-src="{{::tamt.checkFestival.img}}" class="festival-image" >
            </a>

            <div class="festival-collapse pad-top" data-ng-repeat="festival in ::tamt.checkFestival.content track by $index">
                <button class="collapsible red-back">{{festival.title}}</button>
                <div class="content black-back">
                    <p class="white-text under-img" data-ng-repeat="text in ::festival.text">{{text}}</p>
                </div>
                <div ng-if="festival.images">
                    <div class="col-sm-4" data-ng-repeat="image in ::festival.images">
                        <div style="background: url({{::image}}) no-repeat 50% 50%" class="about-img-back"></div>
                    </div>
                </div>
            </div>

            <!--<p class="white-text under-img" data-ng-repeat="festival in ::tamt.checkFestival.content track by $index">{{festival}}</p>-->
        </div>
    </div>
</div>