<div class="">
    <div class="text-form">
        <h2 class="play-title"> фес<span class="red-color">т</span>ив<span class="red-color">а</span>ли</h2>
        <div class="col-md-12 reg-pad">
            <div ng-repeat="festival in ::tamt.allFestivals track by $index" class="col-xs-12 col-sm-6 text-center big-pad-bot">
                <!--<a href="{{::festival.img}}" data-lightbox="image-3">-->
                    <img ui-sref="festival info({id: festival.id})" ng-src="{{::festival.img}}" class="w100 festival_block" >
                <!--</a>-->
                <div ui-sref="festival info({id: festival.id})" class="minh-65 under-img names">{{::festival.name}}</div>
            </div>
        </div>
        <p></p>
    </div>
</div>