<div class="container novel-form">
    <div class="overflow gallery-title">
        <div class="before-novel-title"><span class="novel-title">Фото</span></div>
    </div>
    <div class="col-md-12 pad-top">
        <div class="col-sm-6 col-md-4 col-lg-4"
             ng-repeat="play in ::tamt.allplays track by $index" ui-sref="gallery play({id: play.id})">
            <div class="row gallery-pad min-height" >
                <img class="gallary-img" ng-src="{{::play.img}}" />
                <div class="text-center play-name">{{::play.name}}</div>
            </div>
        </div>
    </div>
</div>