<div class="container novel-form">
    <div class="overflow gallery-title">
        <div class="before-novel-title">
            <span class="custom-breadcrumb-link"> <span class="novel-title">Газета </span></span>
            <span class="novel-title"> / </span>
            <span class="novel-title active"> {{::tamt.checkPaper.name}}</span>
            <div ng-click="tamt.goBack()" class="float-right"><i class="fa fa-times fa-2x pointer" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="col-md-12 pad-top">
        <div class="col-sm-6 col-md-4 col-lg-4"
             ng-repeat="img in ::tamt.checkPaper.allimages track by $index">
            <div class="row gallery-pad" >
                <a href="{{img}}" data-lightbox="image-3" data-title="">
                    <img class="gallary-img gallery-paper" ng-src="{{::img}}" />
                </a>
            </div>
        </div>
    </div>
</div>