<div class="container novel-form">
    <div class="overflow gallery-title">
        <div class="before-novel-title">
            <a ng-click="tamt.goBack()" class="custom-breadcrumb-link pointer"> <span class="novel-title">Фото </span></a>
            <span class="novel-title"> / </span>
            <span class="novel-title active"> {{::tamt.checkPlay.name}}</span>
            <div ng-click="tamt.goBack()" class="float-right"><i class="fa fa-times fa-2x pointer" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="col-md-12 pad-top">
        <div class="col-sm-6 col-md-4 col-lg-4"
             data-ng-repeat="img in ::tamt.checkPlay.allimages track by $index">
            <div class="row gallery-pad" >
                <a href="{{::img}}" data-lightbox="image-2" data-title="">
                    <img class="gallary-img" ng-src="{{::img}}" />
                    <!--<div class="gallary-img" style="background-image: url({{::img}})"></div>-->
                </a>
            </div>
        </div>
    </div>
</div>