<div class="container novel-form">
    <div class="overflow gallery-title">
        <div class="before-novel-title"><span class="novel-title">Газета</span></div>
    </div>
    <div class="col-md-12 pad-top">
        <div class="col-sm-6 col-md-4 col-lg-4"
             ng-repeat="paper in ::tamt.allPapers track by $index" ui-sref="gallery-paper details({id: paper.id})">
            <div class="row gallery-pad" >
                <img class="gallary-img gallery-paper" ng-src="{{::paper.img}}" />
                <div class="text-center play-name">"{{::paper.name}}" </br> {{::paper.subName}}</div>
            </div>
        </div>
    </div>
</div>