<!--<section class="slider">-->
    <!--<flex-slider slide="s in tamt.slides track by $index" pauseOnAction="true" pauseText="pause" playText="play"-->
                 <!--slideshow="true" pausePlay="true"-->
                 <!--class="carousel">-->
        <!--<li>-->
            <!--<div class="box home-box">-->
                <!--<div class="discover-form page-wrap home-slider">-->
                    <!--<div style="background-image: url({{s}});" class="slide-all home-slides"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    <!--</flex-slider>-->
<!--</section>-->

<div class="main-list text-center">
    <!--<img src="../images/репертуарки/october.jpg" class="all-width main-img">-->
    <!--<br>-->

    <!--<img src="../images/репертуарки/may21.jpeg" class="all-width main-img">-->
    <!--<img ui-sref="festival info({id: 5})" src="../images/репертуарки/festival.jpeg" class="all-width main-img pointer">-->
    <!--<br>-->
    <img src="../images/репертуарки/апрель22.jpg" class="all-width main-img">
    <img src="../images/репертуарки/may22.jpeg" class="all-width main-img">
    <!--<div style="background-image: url(../images/репертуарки/март19.jpg);" class="slide-all home-slides"></div>-->
</div>
