<div class="container novel-form">
    <!--<div class="overflow gallery-title">-->
        <!--<div class="before-novel-title"><span class="novel-title">Пресса о нас</span></div>-->
    <!--</div>-->

    <div class="text-center">
        <button class="main-btn" ng-class="{'active-tab': tamt.selectedTab === 'web'}" ng-click="tamt.chooseTab('web')">WEB источники</button>
        <button class="main-btn" ng-class="{'active-tab': tamt.selectedTab === 'article'}" ng-click="tamt.chooseTab('article')">Статьи</button>
        <button class="main-btn" ng-class="{'active-tab': tamt.selectedTab === 'video'}" ng-click="tamt.chooseTab('video')">Видеорепортажи</button>
    </div>

    <!--<ul class="nav nav-tabs nav-justified pad-top">-->
        <!--<li class="nav-item" ng-click="tamt.chooseTab('web')">-->
            <!--<a class="nav-link" ng-class="{'active-tab': tamt.selectedTab === 'web'}">WEB источники</a>-->
        <!--</li>-->
        <!--<li class="nav-item" ng-click="tamt.chooseTab('article')">-->
            <!--<a class="nav-link" ng-class="{'active-tab': tamt.selectedTab === 'article'}">Статьи</a>-->
        <!--</li>-->
        <!--<li class="nav-item" ng-click="tamt.chooseTab('paper')">-->
            <!--<a class="nav-link" ng-class="{'active-tab': tamt.selectedTab === 'video'}">Видеорепортажи</a>-->
        <!--</li>-->
    <!--</ul>-->

    <div ng-show="tamt.selectedTab === 'web'">
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://strast10.ru/node/5956"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://strast10.ru/node/5767"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://strast10.ru/node/5766"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.nvgazeta.ru/news/14488/595679/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.nvgazeta.ru/news/12381/594291/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://pravtaganrog.ru/taganrog-s-makeevkojj-pochtili-pamyat-poliny-viardo/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.nvgazeta.ru/news/14488/592816/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/kamernyj-teatr-taganrog-vystupil-na-melpomene/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/kamernyj-teatr-prihodit-vo-dvory/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://ok.ru/dumataganroga/topic/152259908058610"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://www.facebook.com/dumataganroga/"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <iframe class="embedly-card" style="max-width: 100%" src="https://dumataganroga.livejournal.com/185439.html?embed" width="502" height="475" frameborder="0"></iframe>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://pravtaganrog.ru/vash-golos-mozhet-pomoch-taganrogskomu-teatru/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://donday-taganrog.ru/aktery-taganrogskogo-kamernogo-teatra-pokazali-spektakl-prjamo-vo-dvore-mnogokvartirnogo-doma.html"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://donday-taganrog.ru/nesvojstvennye-roli-aktery-iz-taganrogskogo-teatra-sygrali-v-rossijskom-filme.html"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="http://strast10.ru/node/5285"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/kamernyj-teatr-predstavlyaet-novyj-spektakl/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/takt-s-chehovskoj-intonaciej/"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/kamernyj-teatr-i-taganrozhcy-vzaimnaya-ljubov/"></a>-->
        <!--</div>-->
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/donskie-teatry-pobedili-na-onl-jnscene/"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/eti-svobodnye-babochki-smotrim-onlajn/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/ljudmila-iljuhina-v-eto-chudo-trudno-poverit/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.ntk-61.ru/glavnaya/eti-svobodnye-babochki-segodnya-vecherom-vozvrashhenie-7-let-spustya.html"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/ohota-na-angela-eskiz/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://taganrogprav.ru/ojkumena-tochka-gorod-n/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://donday-taganrog.ru/artistov-taganroga-ocenili-na-festivale-melpomena.html"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://donday-taganrog.ru/taganrozhcy-snimajutsja-v-detektivnom-trillere-s-akterom-daniilom-strahovym.html"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://theatreofnations.ru/programma-podderzhki-teatrov-malyh-gorodov-rossii/festival-teatrov-malyh-gorodov-rossii/2020-1"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.teatrvestnik.ru/taxonomyterm32/na-donu-vybrali-pobediteley-melpomeny"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://klauzura.ru/2019/11/o-lyubvi-nestandartno-novo-aktualno/"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="http://www.taganrogprav.ru/taganrogprav/elections_info.php?id=501/"></a>-->
        <!--</div>-->
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://ofnvrsk.ru/news/item/3000"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://ptj.spb.ru/blog/vteatralnoj-gavani/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://vk.com/@tagteatr-kogda-eskizy-prevraschautsya-v-spektakli"></a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="https://novorab.ru/2019/06/25/novorossiycy-po-novomu-prochli-chekhova"></a>-->
        <!--</div>-->
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://vk.com/@tagteatr-pensionno-invalidnyi-absurd-v-molodezhnom-teatre"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://vk.com/@tagteatr-gusi-po-chehovski"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://vk.com/@tagteatr-malenkie-zhizni-i-kofe-v-assortimente/"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="https://www.ntk-61.ru/glavnaya/melpomena-zaglyanula-v-taganrog%ef%bb%bf.html"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://bogudonia.ru/life/molodaya_kapusta"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://bogudonia.ru/chronicle/molodye_vyhodnye"></a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://bogudonia.ru/day_after_day/taganrogskij_molodezhnyj_teatr_primet_uchastie_v_federal">Таганрогский молодежный театр примет участие в федеральной театральной акции / Богудония.ру</a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://www.taganrog.su/index.php/component/k2/item/7207-%D0%BD%D0%B5%D0%BE%D0%B1%D1%8B%D1%87%D0%BD%D0%B0%D1%8F-%D0%BD%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE%D0%B4%D0%BD%D1%8F%D1%8F-%D1%81%D0%BA%D0%B0%D0%B7%D0%BA%D0%B0">Необычная новогодняя сказка</a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://www.taganrog.su/index.php/component/k2/item/6613-%D1%82%D0%B5%D0%B0%D1%82%D1%80-%E2%80%93-%D1%8D%D1%82%D0%BE-%D0%B8%D0%BD%D1%84%D0%B5%D0%BA%D1%86%D0%B8%D1%8F">Театр - это инфекция?</a>
        </div>
        <div class="col-sm-12 col-md-6 gallery-pad">
            <a class="embedly-card" data-card-controls="0" href="http://www.nvgazeta.ru/news/12381/493530/">Новые надежды Мельпомены</a>
        </div>
        <!--<div class="col-sm-12 col-md-6 gallery-pad">-->
            <!--<a class="embedly-card" data-card-controls="0" href="http://www.strast10.ru/node/59">Печальный демон, дух познанья</a>-->
        <!--</div>-->
        <!--<div class="col-md-12 gallery-pad">-->
            <!--<iframe width="100%" class="frame-article" height="600" sandbox="allow-same-origin" src="http://www.rusmia.ru/index.php?option=com_content&view=article&id=10830:baba-shanel&catid=18:v-detalyh&Itemid=30"></iframe>-->
        <!--</div>-->
    </div>


    <div ng-show="tamt.selectedTab === 'article'" class="col-md-12 pad-top">
        <div class="row">
            <div class="col-sm-12 col-md-6"
                 ng-repeat="news in ::tamt.paperSource track by $index">
                <div class="row gallery-pad" >
                    <a href="{{::news.img}}" class="gallery" data-lightbox="image-1" data-title="">
                        <div class="paper-img" style="background: url({{::news.img}}) no-repeat 50% 50%"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6"
                 ng-repeat="news in ::tamt.articleSource track by $index">
                <div class="row gallery-pad" >
                    <a href="{{::news.img}}" class="gallery" data-lightbox="image-2" data-title="">
                        <div class="article-img" style="background: url({{::news.img}}) no-repeat 50% 50%"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="tamt.selectedTab === 'video'" class="col-md-12 pad-top">
        <div class="col-sm-12 col-md-6"
             ng-repeat="news in ::tamt.videoSource track by $index">
            <div class="row gallery-pad" >
                <div class="">
                    <iframe width="100%" class="shadow" height="400" class="" ng-src="{{::news.link}}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
