<div class="">
    <div class="text-form">
        <h2 class="play-title"> люди <span class="red-color">т</span>е<span class="red-color">ат</span>р<span class="red-color">а</span> </h2>
        <div class="col-md-12 reg-pad">
            <div ng-repeat="actor in ::tamt.actors track by $index" class="col-xs-6 col-sm-4 col-md-3 text-center">
                <a ui-sref="people details({id: actor.slug})">
                    <img ng-src="{{::actor.mainImg}}" class="width100" >
                </a>
                <div ui-sref="people details({id: actor.slug})" class="names">{{::actor.name}}</div>
            </div>
        </div>
        <p></p>
        <h2 class="play-title"> Соприч<span class="red-color">а</span>с<span class="red-color">т</span>ные</h2>
        <div class="col-md-12 reg-pad">
            <div ng-repeat="friend in ::tamt.friends track by $index" class="col-xs-6 col-sm-4 col-md-3 text-center">
                <a ui-sref="people details({id: friend.slug})">
                    <img ng-src="{{::friend.mainImg}}" class="width100" >
                </a>
                <div ui-sref="people details({id: friend.slug})" class="names" ng-click="">{{::friend.name}}</div>
            </div>
        </div>
    </div>
</div>