<div class="container novel-form">
    <div class="overflow gallery-title">
        <div class="before-novel-title">
            <a href="/people" class="custom-breadcrumb-link"> <span class="novel-title">люди театра </span></a>
            <span class="novel-title"> / </span>
            <span class="novel-title active"> {{::tamt.checkedActor.name}}</span>
            <div ui-sref="people" class="float-right"><i class="fa fa-times fa-2x pointer" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="col-md-12 pad-top">
        <div class="carousel-arrow-left" ng-click="tamt.goNext(-1)"><i class="fa fa-chevron-left fa-2x pointer" aria-hidden="true"></i></div>
        <div class="col-md-5">
            <a href="{{::tamt.checkedActor.mainImg}}" data-lightbox="image-actor" data-title="{{::tamt.checkedActor.name}}">
                <img class="all-width" src="{{::tamt.checkedActor.mainImg}}"/>
            </a>
            <div ng-repeat=" image in ::tamt.checkedActor.allPhotos track by $index" class="col-md-12 play-block">
                <a href="{{::image}}" data-lightbox="image-actor" data-title="{{::tamt.checkedActor.name}}">
                    <img class="gallary-img" ng-src="{{::img}}" />
                    <!--<div class="gallary-img" style="background: url({{::image}}) no-repeat 50% 50%"></div>-->
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="under-img-actor">
                <p>{{::tamt.checkedActor.mainInfo}}</p>
                <p ng-show="::tamt.checkedActor.roles.length"><b>Роли в спектаклях:</b>
                    <div ng-repeat="role in ::tamt.checkedActor.roles track by $index">
                        {{::role}}
                    </div>
                </p>
                <p ng-show="::tamt.checkedActor.films.length"><b>Фильмография:</b>
                    <div ng-repeat="role in ::tamt.checkedActor.films track by $index">
                        {{::role}}
                    </div>
                </p>
            </div>
        </div>
        <div class="carousel-arrow-right" ng-click="tamt.goNext(1)"><i class="fa fa-chevron-right fa-2x pointer" aria-hidden="true"></i></div>
    </div>
</div>