<div>
    <div class="text-form">
        <h2 class="play-title"> репер<span class="red-color">т</span>у<span class="red-color">а</span>р </h2>
            <div ng-repeat=" play in ::tamt.plays track by $index" class="col-md-12 play-block">
                    <div class="col-md-5">
                        <a href="{{::play.img}}" data-lightbox="image-6">
                            <img ng-src="{{::play.img}}" class="w100" >
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="title"> {{::play.title}}</div>
                        <div class="under-img">
                            <p ng-show="play.author"> <span class="">Автор:</span> {{::play.author}}</p>
                            <p> <span class="">Жанр спектакля:</span> {{::play.style}}</p>
                            <p> <span class="">Режиссер-постановщик:</span> {{::play.creator}}</p>
                            <!--<p> <span class="red-color">Продолжительность:</span> {{::play.time}}</p>-->
                        </div>
                        <!--<div class="under-img">{{::play.content1}}</div>-->
                        <!--<div class="under-img" ng-show="play.content2">{{::play.content2}}</div>-->
                        <!--<div class="under-img" ng-show="play.content3">{{::play.content3}}</div>-->
                        <!--<div class="under-img" ng-show="play.content4">{{::play.content4}}</div>-->
                        <!--<div class="under-img" ng-show="play.content5">{{::play.content5}}</div>-->
                    </div>
                <div class="s12_ln"></div>
            </div>
    </div>

</div>