<div>
    <div class="text-form">
        <h2 class="play-title"> репер<span class="red-color">т</span>у<span class="red-color">а</span>р </h2>
            <div ng-repeat=" play in ::tamt.plays track by $index" class="col-md-12 play-block">
                <div class="col-md-5">
                    <a href="{{::play.img}}" data-lightbox="image-5">
                        <img ng-src="{{::play.img}}" class="w100" >
                    </a>
                    <div class="under-img">
                        <div class="under-img" ng-show="play.roles">В спектакле участвуют:</div>
                        <div data-ng-repeat="role in ::play.roles track by $index" class="row under-img">
                            <div class="col-sm-5">
                                <div>{{::role.name}}</div>
                            </div>
                            <div class="col-sm-7">
                                <div ng-show="role.artist" class="">{{::role.artist}}</div>
                                <div ng-show="role.artists" data-ng-repeat="art in ::role.artists track by $index" class="">{{::art}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="title no-pad-top"> {{::play.title}}</div>
                    <div class="under-img">
                        <p ng-show="play.author"> <span class="">Автор:</span> {{::play.author}}</p>
                        <p> <span class="">Жанр спектакля:</span> {{::play.style}}</p>
                        <p> <span class="">Режиссер-постановщик:</span> {{::play.creator}}</p>
                        <p> <span class="">Продолжительность:</span> {{::play.time}}</p>
                    </div>
                    <div class="under-img">{{::play.content}}</div>
                </div>
                <div class="s12_ln"></div>
            </div>
    </div>

</div>